body, html{height:100%;
}
#hm{
    background-image:url(https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    height:100%;
    background-size:cover;
}
nav>a{display: flex;
padding:50px;
text-decoration: none;
color:rgb(224, 170, 104);
font-family:'Courier New';
font-size:20px;
}
nav>a:hover{

}
#one{background-image:url("https://images.pexels.com/photos/476/man-person-red-white.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500");
height:700px;
}
body p:first-child{color:rgb(224, 170, 104);
    padding-left:500px;
font-size: 30px;
position:absolute;
bottom:100px;
font-family: 'Courier New';
}
p span{color:#7FFFD4;}
#projects h3{background-color:}
.link{padding:8px;
text-decoration:none;
background-color:rgb(224, 170, 104);
font-family:cursive;
color:white;}
.link:hover{
    background-color: darkgray;
    font-size :19px;
}
#about{text-align:center;
    color:rgb(224, 170, 104);
font-family:'Courier New';
background-color:grey;
padding:80px;
}
#contact{text-align:center;
    color:red;
    background-color:black;
    

}
input[type=text], select {
    width: 60%;
    padding: 17px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 60%;
    background-color: #4CAF50;
    color: white;
    padding: 17px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  #contact span{padding-top:100px;}
