body, html{height:100%;
}
#hm{
    background-image:url("https://images.pexels.com/photos/169573/pexels-photo-169573.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    height:100%;
    background-size:cover;
}
nav{position:fixed;}
nav>a{display: flex;
padding:50px;
text-decoration: none;
color:khaki;
font-family:'Courier New';
font-size:20px;
background-color: black;
border:1px solid #f05050;
opacity: 0.7;
}
nav>a:hover{
    background-color:gainsboro;
    border:1px dotted red;
    color:orange;

}

.intro{color:rgb(224, 170, 104);
    padding-left:500px;
font-size: 30px;
position:absolute;
bottom:100px;
font-family: 'Courier New';
width:46%;
}
p span{color:rgb(33, 58, 128);
}
#projects h3{background-color:rgb(212, 205, 205);
padding:10px;
font-family:monospace;}
#projects p{color:rgb(61, 43, 43);
width:28%;}
.link{padding:8px;
text-decoration:none;
background-color:rgb(190, 136, 201);
font-family:cursive;
color:white;}
.link:hover{
    background-color: darkgray;
    font-size :19px;
}
#about{text-align:center;
    color:rgb(211, 144, 62);
font-family:'Courier New';
background-color:rgb(212, 205, 205);
padding:80px;
}
#contact{text-align:center;
    color:rgb(141, 80, 153);
    background-color:rgb(212, 205, 205);
padding:80px ;
font-family:monospace;
}
input[type=text], select {
    width: 50%;
    padding: 17px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
   
  }
  
  input[type=submit] {
    width: 20%;
    background-color: rgb(190, 136, 201);
    color: white;
    padding: 28px 34px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color:red;
  }
 #msg{padding:80px;}
  footer{text-align:center;
padding-top:20px;
background-color:grey;
font-family:'Courier New';
opacity: 0.6;}

#projects{padding:200px;}
#projects h1{text-align:center;}

.project{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    padding: 1px;
    text-decoration-line:none;
      
}
.project a{
    text-decoration-line:none;
    border:1px solid #f05050;
    padding:10px;
    background-color:rgba(230, 132, 132, 0.1);
}
.project a:hover{
    background-color:#f05050;}
.project{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
}
.projec{display:flex;
    flex-direction:row;
    justify-content: space-around;
    }